@keyframes spin {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(15deg);
  }
}

.spin {
  animation: spin 60s linear;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link-decoration {
  text-decoration: none;
  color: #2f80ed;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

h1 {
  margin: 0;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  margin: 30px 0 0 64px;
  position: absolute;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: auto 0 auto 64px;
} 

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__main-illustration {
  display:block;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns {
  display: flex;
  margin: 100px auto 0 auto;
  width: 80%;
  justify-content: space-between;
  min-height: 200px;
  gap: 100px;
  margin-bottom: 0;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__paragraph {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__conclusion {
  margin: 30px 0 30px 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph-width {
  width: 1010px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 100px auto 0 auto;
  width: 60%;
  text-align: center;
  white-space: nowrap;
}

.section-subtitle {
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
 width: 60%;
 text-align: center;
 margin: 20px auto 0 auto;
}

.table {
  display: flex;
  width: 1100px;
  width: 90%;
  flex-wrap: wrap;
  gap: 60px 80px;
  justify-content: center;
  margin: auto  
}

.table {
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  width: 250px;
  font-weight: 600
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  width: 250px;
}

.table__subtext {
  margin-top: 20px;
  width: 250px;
}

.feynman {
  margin-top: 100px;
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;  
}

.feynman__img {
  width: 867 px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  z-index:1;
  overflow: hidden;
}

.section-title_theme_dark {
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto 0 auto;
  width: 60%;
  text-align: center;
  white-space: nowrap;
  color: white;
  z-index: 3;
}

.section-subtitle_theme_dark {
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
 width: 60%;
 text-align: center;
 margin: 20px auto 0 auto;
 color: white;
 z-index: 3;
}

.table_theme_dark {
  margin-top: 80px;
  padding-bottom: 90px;
}

.table_theme_dark {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;
  margin: auto;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  width: 200px;
  font-weight: 600;
  margin-bottom: 20px;
  z-index: 3;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  width: 200px;
  z-index: 3;
}

.kaufman_triangle {
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover; 
} 

.footer  {
  color: white;
  background-color: #1f1f1f;
  min-height: 350px;
  margin-bottom: 0;
}

.footer__column-links {
  color: white;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  align-items: flex-end;
  display: flex;
}

.footer__column_content_social {
  flex-direction: column;
  display: flex;
}

.footer__column_content_info {
  flex-direction: column;
  display: flex;
}

.footer__author {
  margin-bottom: 18px;
  padding-top: 200px;
}

.social_icon {
  width: 16px;
  height: 16px;
}

.footer__column-links_margin-bottom {
  margin-bottom: 16px;
}